<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">

        <!-- Email -->
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            class="form-control"
            ngModel
            name="email"
            required
            email
            #email="ngModel">
          <p *ngIf="email.touched && !email.valid" class="help-block">
            Valid email required
          </p>
        </div>

        <!-- Subscription -->
        <div class="form-group">
          <label for="subscription">Subscription</label>
          <select
            id="subscription"
            class="form-control"
            [ngModel]="defaultSubscription"
            name="subscription">
            <option value="basic">Basic</option>
            <option value="advanced">Advanced</option>
            <option value="pro">Pro</option>
          </select>
        </div>

        <!-- Password -->
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            class="form-control"
            ngModel
            name="password"
            required
            #password="ngModel">
          <p *ngIf="password.touched && !password.valid" class="help-block">
            Valid password required
          </p>
        </div>

        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!f.valid">
          Submit
        </button>
        <p
          class="help-block"
          *ngIf="!f.valid && f.touched">Please fix the errors above</p>
      </form>
    </div>
  </div>
  <hr>

  <!-- Output -->
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <h3>Your Data</h3>
      <p>Email: {{ subscData.email }}</p>
      <p>Subscription: {{ subscData.subscription }}</p>
      <p>Password: {{ subscData.password }}</p>
    </div>
  </div>
</div>
